@charset "UTF-8";

/*NO HTML É (ID), NO CSS É (#)
  NO HTML É (CLASS) NO CSS É (.) */

body{
    background-color:#D9CCC1;
}
h1{
    color: #265075;
    
}
h2{
    color: #2b1912;
}
h1#principal{
    color:#BF6415;
    background-color: #045d80;
    border-radius: 10px;
    text-align: center;
    
}
.basico{
    color: #BF6415;
}
.avancado{
    color: #024059;
}
.intermediario{
    color: #8C503A;
    font-weight:bolder;

}

.destaque{
    background-color:#024059 ;
    border-radius: 1px;
    color: white;
    font-weight: bolder;
}
