@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor01: #151F30;
    --cor02: #103778;
    --cor03: #0593A2;
    --cor04: #FF7A48;
    --cor05: #E3371E;
    --fontpadrao: 'Rubik Iso', cursive;


}

a {
    text-decoration: none;


}

header {
    background-color: var(--cor01);
    padding: 50px 50px 15px 50px;

}

header h1 {
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 5px black;

}

nav {
    background-color: var(--cor01);
    padding-bottom: 10px;

}

nav a {
    color: white;
    text-decoration: none;
    padding-left: 10px;

}

nav a:hover {
    background-color: var(--cor02);
    padding: 10px;
    transition: 0.5s;
    border-radius: 5px;
    color: var(--cor04);
    font-weight: bolder;
}

#conteudo {


    background-color: var(--cor03);
    width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
}

div.f1 {


    background-image: url(imagem/natureja.jpeg);
    background-size: 100% 100%;
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

footer {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;

}

div.video {
    background-color: var(--cor02);
    position: relative;
    padding-bottom: 30%;
    

}
div.video>iframe{
    position: absolute;
    height: 98%;
    width: 90%;
}



p {
    font-family: var(--fontpadrao);
    font-size: 30px;
    
}

footer p:hover {
    font-size: 1.2em;
    color: var(--cor05);
    


}